In [1]:
import pandas as pd
from sklearn import preprocessing
import numpy as np
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.tree import DecisionTreeClassifier, plot_tree
import matplotlib.pyplot as plt
np.random.seed(1234)

In [2]:
insurance_data = pd.read_csv('Data/insurance.csv')

In [3]:
insurance_data.columns

Index(['Number of claims', 'Total payment'], dtype='object')

In [4]:
insurance_data.head(10)

   Number of claims  Total payment
0               108          392.5
1                19           46.2
2                13           15.7
3               124          422.2
4                40          119.4
5                57          170.9
6                23           56.9
7                14           77.5
8                45          214.0
9                10           65.3

In [5]:
x = insurance_data['Number of claims']
y = insurance_data['Total payment']